{% extends "base.html" %}

{% block title %}YAGAEB{% endblock title %}

{% block content %}
    <a href="/" class="main-title">Blog</a>

    {% for post in blog_posts %}
      <div class="post">
        <div class="front-post-heading">
          <a href="/{{post.key().id()}}" class="front-post-title">{{post.subject}}</a>
          <div class="front-post-date">
            {{post.created_time.strftime("%b %d, %Y")}}
          </div>
        </div>
        <div class="post-content">
          <pre>{{post.content}}</pre>
        </div>
      </div>
    {% endfor %}
{% endblock content %}
