{% extends "base.html" %}

{% block title %}YAGAEB{% endblock title %}

{% block content %}
    <div class="top-nav">
      <a href="/" class="main-title nav-link">My GAE Blog</a>
    </div>

    {% for post in blog_posts %}
      <div class="post">
        <div class="front-post-heading">
          <a href="/{{post.slug}}" class="front-post-title nav-link">{{post.subject}}</a>
          <div class="front-post-date">
            {{post.created_time.strftime("%b %d, %Y")}}
          </div>
        </div>
        <div class="post-content">
          {{post.content|safe}}
        </div>
      </div>
    {% endfor %}
{% endblock content %}
