{% extends "base.html" %}

{% block title %}{{post.subject}} - YAGAEB{% endblock title %}

{% block content %}
    <div class="post">
      <div class="post-heading">
        <div class="post-title">
          <a href="/{{post.key().id()}}">{{post.subject}}</a>
          <span class="post-date">
            {{post.created_time.strftime("%b %d, %Y")}}
          </span>
        </div>
      </div>
      <div class="post-content">
        <pre>{{post.content}}</pre>
      </div>
      <a href="/">Back to home</a>
    </div>
{% endblock content %}
